<!DOCTYPE html>
<html>
<head>
    <title>Conversor de fala em texto</title>
    <link rel="stylesheet" type="text/css" href="static\styles.css">
</head>
<body>
    <div>
        <h1>Conversor de fala em texto</h1>s
        <div>
            <label>Texto falado:</label>
            <p id="texto_falado"></p>
        </div>
        <div>
            <button id="abrir_microfone_button" onclick="toggleMicrofone()">Abrir Microfone</button>
        </div>
    </div>
    <script src="static\script.js"></script>
</body>
</html>


